body {                      /**/
  height: 100%;
  background-color: rgb(10, 52, 66);
}
h1 {                                      /**/
  color: rgb(238, 245, 248);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {                                           /**/
  justify-content: space-between;
  align-content: center;
  width: 150%;
  height: 150%;
}