body {
    /*Activides de la Empresa*/
    background-color: rgb(247, 231, 231);
  }
  
  .actividad {
    /*Actividades de la Empresa*/
    color: rgb(20, 75, 66);
    font-size: 30px;
    font-family: 'Bitter', serif;
  }